<header class="site-head">
    <% if (page.image) { %>
        <img src="<%- config.root %>images/<%- page.image %>" alt="Banner Bild" class="header-bg"/>
    <% } else { %>
        <canvas width="1500" height="500" id="canvasHeader" class="header-bg">
        </canvas>
    <% } %>

    <div class="site-head-content inner">
        <% if (config.logo) { %>
            <a class="blog-logo" href="<%- config.root %>">
                <img src="<%- config.logo %>" title="Westwoodlabs Logo" alt="<%- config.title %> Logo"/>
            </a>
        <% } %>
        <h1 class="blog-title">
            <%- config.shortsubtitle %>
        </h1>
        <h2 class="blog-description">
            <span class="text-bg">
                <%- config.subtitle %>
            </span>
        </h2>
    </div>
    <div>	
        <img src="https://api.westwoodlabs.de/spaceapi/state/state.png" alt="Space Stauts" style="position:absolute; top:0px;right:0px;" />
    </div>
</header>

<nav id="main-nav">
    <% if (site.data.menu){ %>
        <ul>
            <% for (var i in site.data.menu){ %>
                <li>
                    <a class="main-nav-link" href="<%- site.data.menu[i] %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    <% } %>
</nav>
