<header class="site-head">
    <% if (page.image) { %>
        <img src="<%- config.root %>images/<%- page.image %>" alt="Banner Bild" class="header-bg"/>
    <% } else { %>
        <canvas width="1500" height="500" id="canvasHeader" class="header-bg">
            <img src="<%- config.root %>images/defaultBanner.png" />
        </canvas>
        <script type="text/javascript" async src="<%- config.root%>js/canvasHeader.js"></script>
    <% } %>

    <div class="site-head-content inner">
        <% if (config.logo) { %>
            <a class="blog-logo" href="<%- config.root %>">
                <img src="<%- config.logo %>" alt="<%- config.title %> Logo"/>
            </a>
        <% } %>
        <h1 class="blog-title">
            <%- config.title %>
        </h1>
        <h2 class="blog-description">
            <span class="text-bg">
                <%- config.subtitle %>
            </span>
        </h2>
    </div>

</header>

<% if (config.menu){ %>
    <nav id="main-nav">
        <ul>
            <% for (var i in config.menu){ %>
                <li>
                    <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
<% } %>
