
<main class="content">
    <% page.posts.each(function(post) { %>
        <article class="post">
            <header class="post-header">
                <%- partial('post/meta', {post: post}) %>
                <h2 class="post-title">
                    <a href="<%- config.root %><%- post.path %>"><%- post.title %></a>
                </h2>
            </header>

            <div class="post-excerpt">
                <p>
                    <% if (post.excerpt){ %>
                        <%- post.excerpt %>
                    <% } else { %>
                        <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>...
                    <% } %>
                </p>
                <% if (config.excerpt_link) { %>
                    <p>
                        <a href="<%- config.root %><%- post.path %>" class="excerpt-link">
                            <%= config.excerpt_link %>
                        </a>
                    </p>
                <% } %>
            </div>
        </article>
    <% }); %>

    <%- partial('pagination') %>

</main>
